#first_div {
  background-color: red;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: seagreen
}

#second_div{
  background-color: grey;
  padding: 15px;
}

h1, h5, h6, h4, h5{
  color:navy;
}

ol{
  font-size: 30px;
}
/* // px, rem, percentage -- major 3 type of size unit */
p {
  color: purple;
  letter-spacing: 0.4 rem;
  word-spacing: 0.4rem;
}
.item-container1 {
  margin: 35px;
  display: flex;
  justify-content:space-between ;
  
}

.item-container2 {
  margin: 35px;
  display: flex;
  justify-content:space-around ;
  
}
.item-container3 {
  margin: 35px;
  display: flex;
  justify-content:space-evenly ;
  
  
}

.item-container4 {
  margin: 35px;
  display: flex;
  justify-content:space-evenly ;
  flex-direction: column;
  /* //align-items: center;
  //direction can be used as: column-reverse, row, row reverse */
  
}

.item-container5{
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: sienna;
}

.mydivs{
  background-color: rebeccapurple;
}
.userinfo{
  color: skyblue;
  background-color: tan;
}

.profile{
  background-color: salmon;
}